.logIn {
    width: 50vw;
    height: 50vh;
    margin-top: 1vw;
    background-color: white;
    border-radius: 2vw;
}

.userFormLogIn {
    display: grid;
    justify-content: center;
    grid-template-rows: 20vh 20vh 10vh;
}

.writeUserInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.writeUserInfoText {
    font-size: 1.5vw;
    font-family: Gill Sans, sans-serif;
}

.inputText {
    width: 40vw;
    padding: 1vw;
    border-radius: 3vw;
}

.submitBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    padding: 1vw;
    color: black;
    border-radius: 2vw;
    font-size: 1.3vw;
    background-color:rgb(150, 0, 150);
    border: none;
    cursor: pointer;
}

@media all and (max-width: 768px) {
    
    .logIn {
        width: 80vw;
        height: 50vh;
        border-radius: 4vw;
    }

    .userFormLogOn {
        grid-template-rows: 20vh 10vh;
    }
    
    .writeUserInfoText {
        font-size: 4vw;
        font-family: Gill Sans, sans-serif;
    }
    
    .inputText {
        width: 60vw;
        padding: 1vw;
        border-radius: 4vw;
    }
    
    .submitBtn {
        padding: 2vw;
        color: black;
        border-radius: 4vw;
        font-size: 4vw;
        background-color:rgb(150, 0, 150);
    }
}